.card {
  padding: 0.5rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-group {
  display: flex;
  margin-bottom: 0.5rem;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
